.content {
  width: 70%;
  padding: 2px 10px 10px 10px;
  box-sizing: border-box;
  
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    padding: 8px 2px 4px 2px;
    color: #000;
  }
  .summary-img {
    text-align: center;
  }
  .NewsSummary {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .NewsSummaryLink {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    line-height: 200%;
  }
  .NewsSummaryContent {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    line-height: 150%;
  }
  .NewsSummaryPostdate {
    text-align: right;
  }
  ul.content-list {
    margin: 0;
    padding: 0;
    li {
      padding: 3px;
      margin-top: 3px;
      margin-bottom: 5px;
      border-top: 1px solid #f2f2f2;
    }
  }
}

.content, .post{
  width: 80%;
  margin-left: 10%;
}